<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a message</title>
  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/favicon/site.webmanifest" />
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <form method="POST" action="/new">
    <h2>Send a message</h2>
    <label>Sender: <input type="text" name="name" placeholder="Enter Name"></label>
    <label>Message: <textarea name="message" id="message" placeholder="Enter message" cols="30" rows="10"></textarea></label>
    <button type="submit" onclick="sendMessage()">Send</button><button><a href="/">Back</a></button>
  </form>
    <script src="https://cdn.socket.io/4.8.3/socket.io.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>