<form method="POST" action="/new">
  <legend>Send a message</legend>
  <label>Sender: <input type="text" name="name" placeholder="Enter Name"></label>
  <label>Message: <textarea name="message" id="message" placeholder="Enter message here" cols="30" rows="10"></textarea></label>
  <button type="submit">Send</button>
</form>