<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Homepage</h1>

    <h2><%= title %></h2>
    <ul>
      <% messages.forEach((user) => { %>
        <li><%- user.text %>
          <p>From: <%- user.user %></p>
          <p>Added: <%- user.added %></p></li>
      <% }); %>
    </ul>
    <button><a href="/new">Send a message</a></button>
  </body>
</html>