<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/favicon/site.webmanifest" />
  <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Horry Message Board</h1>
    
    <button><a href="/new">Send a message</a></button>
    <ul id="messages">
      <% messages.forEach((user) => { %>
        <li><h2><%- user.message %></h2>
          <p>From: <%- user.sender %></p>
          <p>Added: <%- user.dateAdded %></p>
          <button><a href="/details?id=<%- user.id %>">Details</a></button></li>
      <% }); %>
    </ul>
  </body>
  <script src="/client.js"></script>
</html>

