<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Details</title>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div>
    <h2>Message Details</h2>
    <p><strong>Text:</strong> <%= message.message %></p>
    <p><strong>User:</strong> <%= message.sender %></p>
    <p><strong>Added:</strong> <%= message.dateAdded %></p>
    <button><a href="/">Back</a></button>
  </div>
</body>
</html>