@import url("https://use.typekit.net/oov2wcw.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: lightblue;
	text-align: center;
	margin: 0;
	padding: 1;
	box-sizing: border-box;
	font-family: century-gothic, sans-serif;
	height: 100vh;
}

body > * {
	margin: 10px;
	padding: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 1.3em;
	font-family: inherit;
}

li {
	list-style: none;
	margin: 20px;
	border: 1px solid black;
	border-radius: 5px;
	transition: all 0.3s ease;
	padding: 10px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	button {
		margin: 5px;
	}
	h2 {
		margin: 10px;
		padding: 10px;
	}
}
