@import url("https://use.typekit.net/oov2wcw.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: lightblue;
	text-align: center;
	margin: 0;
	padding: 1;
	box-sizing: border-box;
	font-family: century-gothic, sans-serif;
	height: minmax(100vh, 100%);
}

body > * {
	margin: 10px;
	padding: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 1.3em;
	font-family: inherit;
}

li {
	list-style: none;
	margin: 20px;
	border: 1px solid black;
	border-radius: 5px;
	transition: all 0.3s ease;
	padding: 10px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	button {
		margin: 5px;
	}
	h2 {
		margin: 10px;
		padding: 10px;
	}
}

ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center ;
  align-items:flex-start;
  gap:20px;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(227, 229, 229) ;
  padding: 20px;
  border-radius: 10px;  
  font-size: medium;
  margin:10px;
  width:auto;
  margin-top:30px;
}
label{
  display:block;
}

input,textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}